@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Karla:wght@400;700&family=Public+Sans:ital,wght@0,400;0,700;1,700&display=swap");

%novaRegular {
  font-family: "Ibarra Real Nova", sans-serif;
  font-weight: 400;
}
%novaBold {
  font-family: "Ibarra Real Nova", sans-serif;
  font-weight: 700;
}
%publicsansBoldItalic {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
%publicsansRegular {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}
%publicsansBold {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
}
%karlaBold {
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

$primary-color-cyan: #5fb4a2;
$primary-color-dark-blue: #203a4c;
$primary-color-dark-grey: #33323d;
$secondary-color-very-light-grey: #fafafa;
$secondary-color-light-grey: #eaeaeb;
$secondary-color-red: #f43030;
body {
  background-color: $secondary-color-very-light-grey;
}
.btn-primary {
  background-color: $primary-color-dark-blue;
  color: $secondary-color-very-light-grey;
  padding: 0rem 3rem;
  width: fit-content;
  height: fit-content;
  @extend %publicsansRegular;
  font-size: 1.3rem;
  border: none;
  justify-content: center;
  &::before {
    content: url(/ressources/Home/Group-3.svg);
    position: relative;
    left: -3rem;
    background-color: #00000049;
    display: inline-block;
    width: 5rem;
    height: 5rem;
  }
  &:hover {
    background-color: $primary-color-cyan;
    color: $secondary-color-very-light-grey;
  }
}

.btn-secondary {
  background-color: rgba(255, 255, 255, 0);
  padding: 1.5rem 3rem;
  width: max-content;
  height: max-content;
  border: 1px solid $primary-color-dark-grey;
  @extend %publicsansRegular;
  &:hover {
    border: 1px solid $primary-color-dark-grey;
    background-color: $primary-color-dark-grey;
    color: $secondary-color-very-light-grey;
  }
}
ul {
  padding: 0;
}
h1 {
  color: $primary-color-dark-grey;
  font-size: 4rem;
}
h2 {
  @extend %novaBold;
  font-size: 4rem;
  color: $primary-color-dark-grey;
}
h3 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 400;
  color: $primary-color-dark-grey;
  font-size: 3rem;
}

p {
  @extend %publicsansRegular;
  font-size: 1.5rem;
  line-height: 3rem;
  color: $primary-color-dark-grey;
}
.top-nav {
  @extend %publicsansRegular;
  display: flex;
  justify-content: space-between;
  padding: 5rem 10rem;
}
.nav-menu {
  display: flex;
}
.nav-item {
  margin: 0 3rem;
  font-size: 1.5rem;
  &:hover {
    color: $primary-color-cyan;
  }
}

.homepage-header {
  background-image: url(../ressources/Home/Bitmap.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  margin: 0 auto;
  height: 75vh;
}

.header-intro {
  background-color: $secondary-color-very-light-grey;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 40%;
  height: 60%;
  padding: 5rem 5rem 0 0;
  font-size: 2.5rem;
  line-height: 5rem;
  margin: auto auto 0 0;
  position: relative;
  top: 40%;
  @extend %novaBold;
  h1 {
    margin: 2rem 0;
  }
}
.main-index {
  margin: 0 10rem;
}
.about-me {
  display: flex;
  padding: 10rem 0;
}
.side-text {
  display: flex;
  flex-direction: column;
  margin: 0 15rem;
  padding: 0 5rem;
  width: 40%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  color: $secondary-color-light-grey;
}
.main-contact {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  align-items: center;
  margin: 0 5rem;
  h2 {
    width: 40%;
  }
}
.portfolios-contact-banner {
  margin: 0 10rem;
}

.portfolio-item:nth-child(even) {
  flex-direction: row-reverse;
}
.portfolio-item {
  display: flex;
  margin-bottom: 10rem;
}
.portfolio-text {
  width: 50%;
}
.portfolio-page-banner {
  width: fit-content;
  margin: auto;
}
.portfolio-page-left {
  border-top: $secondary-color-light-grey 1px solid;
  border-bottom: $secondary-color-light-grey 1px solid;
  width: 30%;
  height: fit-content;
  margin: 0 10rem;
  padding: 5rem 0;
  p {
    margin: 2rem 0;
  }
}
.portfolio-page-right {
  width: 60%;
  h3 {
    margin: 2rem 0;
  }
  figure {
    margin: 5rem 0;
  }
}
.green-text {
  color: $primary-color-cyan;
}
.portfolio-page-main:first-child {
  border: 1px solid red;
}
.portfolio-page-main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10rem auto;
}
.portfolio-nav {
  display: flex;
  width: 80%;
  margin: auto;
}
.nav {
  background-color: transparent;
  width: 50%;
  padding: 2rem 0;
  border: 1px grey solid;
  p {
    @extend %publicsansRegular;
    color: $primary-color-dark-grey;
    filter: opacity(50%);
  }
}
.nav-left {
  text-align: left;
  border-left: none;
  display: flex;
  align-items: center;
  svg  {
    margin-right: 2rem;
  }
}
.nav-left::before {
  content: url(/ressources/Home/nav-arrow.svg);
  display: block;
  position: relative;
  transform: scale(1.2);
  margin-right: 2rem;
}
.nav-right::after {
  content: url(/ressources/Home/nav-arrow.svg);
  display: block;
  position: relative;
  transform: rotate(180deg) scale(1.4);
  margin-left: 2rem;
}
.nav-right {
  text-align: right;
  border-right: none;
  display: flex;

  justify-content: flex-end;
  align-items: center;
}
.contact-cont {
  display: flex;
  margin: 0 15rem;
  flex-direction: column;
}
.form-container {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  border-top: $secondary-color-light-grey 1px solid;
}
.get-in-touch {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  border-top: $secondary-color-light-grey 1px solid;
  div {
    width: 60%;
  }
  .logo {
    margin: 0 5rem;
  }
}
form {
  width: 60%;
  @extend %publicsansBold;
  input {
    height: 5rem;
    border: none;
    background-color: $secondary-color-light-grey;
  }
  textarea {
    background-color: $secondary-color-light-grey;
    border: none;
  }
  button {
    @extend %publicsansRegular;
    background-color: $primary-color-dark-blue;
    color: $secondary-color-very-light-grey;
    border: none;
    font-size: 1.3rem;
    padding: 1.5rem 5rem;
    &:hover {
      background-color: $primary-color-cyan;
    }
  }
}
.input-container {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}

footer {
  background-color: $primary-color-dark-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  margin-top: 5rem;
  @extend %publicsansRegular;
  nav {
    padding: 2rem 10rem;
    color: $secondary-color-very-light-grey;
  }
}
.footer-nav {
  display: flex;
  align-items: center;
}
.footer-nav-menu {
  display: flex;
  flex-direction: row;
}
.footer-nav-item {
  width: fit-content;
  padding: 0 2rem;
  font-size: 1.3rem;
}

.logo {
  display: flex;
  img {
    margin-left: 2rem;
  }
}

// Small devices
@media screen and (min-width: 0px) and (max-width: 380px) {
  .top-nav {
    padding: 2rem 5%;
  }

  h1 {
    font-size: 4rem;
  }
  .nav-menu {
    display: none;
  }
  .homepage-header {
    padding: 0;
    margin: auto;
    height: 30rem;
    background-position: bottom;
  }
  .header-intro {
    top: 100%;
    margin: auto;
    padding: 0;
    height: 30rem;
    width: 100%;
  }
  .main-index {
    margin: 5%;
  }
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 5rem 0;
    margin: auto;
    margin-top: 30rem;
    img {
      height: 30rem;
      margin: 5rem auto;
      width: 90%;
      object-fit: cover;
    }
  }
  .side-text {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    p {
      margin: 2rem 0;
    }
  }
  .main-contact {
    flex-direction: column;
    h2 {
      width: 100%;
      text-align: center;
      margin: 5rem 0;
    }
  }
  .portfolio-item {
    flex-direction: column;
    .side-text {
      padding: 5rem 0;
    }
  }
  .portfolio-item:nth-child(even) {
    flex-direction: column;
  }
  .portfolio-page-main {
    flex-direction: column;
    margin: auto;
  }
  .portfolio-page-right {
    width: 100%;
  }
  .portfolio-page-left {
    width: 100%;
    margin: auto;
  }
  .nav-left {
    flex-direction: column;
  }
  .nav-right {
    flex-direction: column;
  }
  footer {
    margin: 0;
    padding: 5rem 0;
    flex-direction: column;
  }
  .footer-nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-nav-item {
    padding: 1.5rem 0;
  }
  .footer-nav {
    flex-direction: column;
  }
  .contact-cont {
    margin: 5%;
  }
  .get-in-touch {
    flex-direction: column;
  }
  .form-container {
    flex-direction: column;
  }
  form {
    width: 90%;
    margin: auto;
  }
}

// Medium devices
@media screen and (min-width: 380px) and (max-width: 770px) {
  h1 {
    font-size: 3.9rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1.6rem;
  }

  .homepage-header {
    width: 90%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-image: url(/ressources/Home/Bitmap-tablet.png);
  }
  .header-intro {
    width: 70%;
    height: 50%;
    top: 50%;
  }
  .main-index {
    margin: 5%;
  }
  .about-me {
    img {
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
  }
  .side-text {
    width: 70%;
    padding: 5%;
    margin: 0;
  }
  .portfolio-page-main {
    flex-direction: column;
    margin: auto;
  }
  .portfolio-page-right {
    width: 100%;
  }
  .portfolio-page-left {
    width: 100%;
    margin: 0 auto;
  }
}
