@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Karla:wght@400;700&family=Public+Sans:ital,wght@0,400;0,700;1,700&display=swap");
h2, .header-intro {
  font-family: "Ibarra Real Nova", sans-serif;
  font-weight: 700;
}

.btn-primary, .btn-secondary, p, .top-nav, .nav p, form input, form textarea, form button, footer {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}

form {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
}

.btn-primary {
  background-color: #203a4c;
  color: #fafafa;
  padding: 0rem 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.3rem;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-primary::before {
  content: url(../ressources/Home/Group-3.svg);
  position: relative;
  text-align: center;
  left: -3rem;
  background-color: #00000049;
  display: inline-block;
  width: 5rem;
  height: 5rem;
}

.btn-primary:hover {
  background-color: #5fb4a2;
  color: #fafafa;
}

.btn-secondary {
  background-color: rgba(255, 255, 255, 0);
  padding: 1.5rem 3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #33323d;
  border: 1px solid #33323d;
}

.btn-secondary:hover {
  border: 1px solid #33323d;
  background-color: #33323d;
  color: #fafafa;
}

body {
  background-color: #fafafa;
}

ul,
li {
  padding: 0;
}

h1 {
  color: #33323d;
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
  color: #33323d;
}

h3 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 400;
  color: #33323d;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 1.5rem 0;
  color: #33323d;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 10rem;
}

.hamburger  {
  visibility: hidden;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  margin: 0 3rem;
  font-size: 1.5rem;
}

.nav-item:hover {
  color: #5fb4a2;
}

.homepage-header {
  background-image: url(../ressources/Home/Bitmap.png);
  background-image: -webkit-image-set(url(../ressources/Home/Bitmap@2x.png) 2x);
  background-image: image-set(url(../ressources/Home/Bitmap@2x.png) 2x);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 85%;
  margin: 0 auto;
  height: 55rem;
}

.header-intro {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
  height: 60%;
  font-size: 2.5rem;
  line-height: 5rem;
  position: relative;
  bottom: -40%;
}

.header-intro h1 {
  margin: 2rem 0;
}

.main-index {
  margin: 0 10rem;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10rem 0;
}

.side-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 10rem;
  width: 50%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  color: #eaeaeb;
}

.main-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5rem;
}

.main-contact h2 {
  width: 40%;
}

.portfolio-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10rem;
}

.portfolio-text {
  width: 50%;
}

.portfolio-page-banner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.portfolio-page-left {
  border-top: #eaeaeb 1px solid;
  border-bottom: #eaeaeb 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 10rem;
  padding: 5rem 0;
}

.portfolio-page-left p {
  margin: 1rem 0;
}

.portfolio-page-right {
  width: 60%;
}

.portfolio-page-right h3 {
  margin: 2rem 0;
}

.portfolio-page-right figure {
  margin: 5rem 0;
}

.portfolios-contact-banner {
  margin: 0 10rem;
}

.green-text {
  color: #5fb4a2;
}

.portfolio-page-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 10rem auto;
}

.portfolio-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
}

.nav {
  background-color: transparent;
  width: 50%;
  padding: 2rem 0;
  border: 1px grey solid;
}

.nav p {
  color: #33323d;
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
  margin: 0;
}

.nav-left {
  text-align: left;
  border-left: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-left svg  {
  margin-right: 2rem;
}

.nav-left::before {
  content: url(../ressources/Home/nav-arrow.svg);
  display: block;
  position: relative;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-right: 2rem;
}

.nav-right::after {
  content: url(../ressources/Home/nav-arrow.svg);
  display: block;
  position: relative;
  -webkit-transform: rotate(180deg) scale(1.4);
          transform: rotate(180deg) scale(1.4);
  margin-left: 2rem;
}

.nav-right {
  text-align: right;
  border-right: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0;
  border-top: #eaeaeb 1px solid;
}

.get-in-touch div {
  width: 60%;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0;
  border-top: #eaeaeb 1px solid;
}

form {
  width: 60%;
}

form input {
  height: 5rem;
  border: none;
  margin: 1rem 0;
  padding: 2rem;
  background-color: #eaeaeb;
}

form textarea {
  background-color: #eaeaeb;
  border: none;
  margin: 1rem 0;
  padding: 2rem;
}

form button {
  background-color: #203a4c;
  color: #fafafa;
  border: none;
  font-size: 1.3rem;
  padding: 1.5rem 5rem;
}

form button:hover {
  background-color: #5fb4a2;
}

.required-field {
  border: #f43030 2px solid;
}

.required-field::after {
  content: 'This field is required';
  position: relative;
  display: inline-block;
  top: -100%;
  font-size: 1rem;
  color: #f43030;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 0;
}

footer {
  background-color: #33323d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10rem;
  margin-top: 5rem;
}

footer nav {
  padding: 2rem 10rem;
  color: #fafafa;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-nav-item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2rem;
  font-size: 1.3rem;
}

.footer-nav-item:hover {
  color: #5fb4a2;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo img {
  margin: 0 2rem;
}

@media screen and (min-width: 0px) and (max-width: 380px) {
  .top-nav {
    padding: 2rem 5%;
  }
  h1 {
    font-size: 4rem;
  }
  .nav-menu {
    visibility: hidden;
    position: absolute;
    top: 7rem;
    right: 2rem;
    padding: 15rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #33323d;
    color: #fafafa;
  }
  .nav-menu-toggle {
    visibility: visible;
  }
  .nav-item {
    padding: 2rem 4rem;
    text-align: center;
  }
  .hamburger  {
    visibility: visible;
  }
  .hamburger-line {
    width: 3rem;
    margin: .8rem 0;
    background-color: #33323d;
    height: 2px;
  }
  .homepage-header {
    margin: auto;
    height: 30rem;
  }
  .header-intro {
    bottom: -110%;
    padding: 0;
    height: 30rem;
    width: 100%;
  }
  .main-index {
    margin: 5%;
  }
  .about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    padding: 5rem 0;
    margin: auto;
    margin-top: 30rem;
  }
  .about-me img {
    height: 30rem;
    margin: 5rem auto;
    width: 90%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .side-text {
    width: 100%;
    padding: 0;
  }
  .main-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-contact h2 {
    width: 100%;
    text-align: center;
    margin: 5rem 0;
  }
  .portfolio-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-item .side-text {
    padding: 5rem 0;
  }
  .portfolio-item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-page-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .portfolio-page-right {
    width: 100%;
  }
  .portfolio-page-left {
    width: 100%;
    margin: auto;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    margin: 0;
    padding: 5rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-nav-item {
    padding: 1.5rem 0;
  }
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-cont {
    margin: 5%;
  }
  .get-in-touch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .get-in-touch div {
    width: 90%;
  }
  .form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form {
    width: 90%;
    margin: auto;
  }
  .nav p {
    margin: 0;
  }
  .nav-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: right;
  }
  .nav-left::before {
    margin: auto;
  }
  .nav-right::after {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 380px) and (max-width: 770px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  .homepage-header {
    width: 90%;
    height: 60rem;
    background-image: url(../ressources/Home/Bitmap-tablet.png);
    background-image: -webkit-image-set(url(../ressources/Home/Bitmap-tablet@2x.png) 2x);
    background-image: image-set(url(../ressources/Home/Bitmap-tablet@2x.png) 2x);
  }
  .header-intro {
    width: 70%;
    height: 40%;
    bottom: -60%;
  }
  .main-index {
    margin: 5%;
  }
  .about-me figure {
    width: 40%;
  }
  .about-me img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
  .side-text {
    padding: 5%;
    margin: 0 5%;
  }
  .portfolio-page-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .tablet-trick {
    width: 40%;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .portfolio-page-right {
    width: 100%;
  }
  .portfolio-page-left {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 35rem;
    margin: 0 auto;
  }
  footer {
    padding: 0 5rem;
  }
  footer nav {
    padding-left: 0;
    padding-right: 0;
  }
  .contact-cont {
    margin: 0 5%;
  }
  .get-in-touch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .get-in-touch div {
    width: 90%;
  }
  .form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form {
    width: 90%;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */